html {
  font-family: "Poppins", sans-serif;
  margin: 1rem;
}

.header {
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  height: auto;
  width: 70vw;
}
